.homepage__mobile{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height:var(--height-mobile-content);
   

}
.homepage__mobile > div{
    display:flex;
    align-items: center;
    justify-content:center;

    width:100%;

}
.homepage__mobile__top, .homepage__main, .homepage__apps{
    height:calc(var(--height-mobile-content) * 0.88);
    width: 100vw;
    border:solid 1px red;
   
}

.homepage__mobile__bottom{
    height:calc(var(--height-mobile-content) * 0.12);
   
    font-size:var(--size-icons-xl)
}
