.webCam{
    position: fixed;
    
    display: inline-block;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 700;
    top: 0;
    bottom: 0;
    background:green;


}
.webCam__btn {
    position: absolute;
    bottom:var(--height-mobile-bottom);
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    color: white;
    font-size:var(--size-icons-xl);
    
}