@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans&display=swap');

/* Variables */
:root {
  /*  The secondary font can be applied, for example, to a heading element */
  --font-primary: 'Lato', sans-serif;
  --font-secondary: 'Noto Sans', sans-serif;

  /* set base values */
  --text-base-size: 1em;
  /* You can apply the scale to any measurable element (margin, paddings, etc.) */
  --text-scale-ratio: 1.2;

  /* Margis and padding */
  --padding-primary: 0.1em 0.5em;


  /* Heights for layouts */
  --height-mobile-top:5vh;
  --height-mobile-content:80vh;
  --height-mobile-bottom:5vh;
  /* Icon size */
  --size-icons-lg:1.7em;
  --size-icons-md:1.4em;
  --size-icons-sm:.5em;

  /* Colors */
  --text-primary:#fafafa;
}
/* General settings */
*,::after,::before{
    margin:0;
    box-sizing: border-box;
}
body {
  
  margin: 0;
  padding: 0;
  line-height:1;
  font-family:var(--font-primary) ;
  font-smooth:always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--text-base-size);
}


h1, h2, h3, h4, form legend {
  color: var(--color-text-heading);
  line-height: var(--heading-line-height);
}



blockquote { }

ul {
  margin: 0;
  padding: 0;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



/* || Typography */


